@import 'reset';
@import 'vars/global';
@import 'themes/normal';
@import 'themes/dark';

.app {
    font: var(--font-m);
    background: var(--color-dark3);
    color: var(--color-white);
    min-height: 100vh;
}

.main-container {
    padding-left: var(--navbar-width-closed);
    transition: padding-left 0.3s ease;

    &.compact {
        padding-left: var(--navbar-width);
    }
}

.app-container {
    display: flex;
    flex-direction: column;
}

.content-page {
    display: flex;
    background: var(--color-dark3);
}

.page-wrapper {
    padding: 20px;
}
