.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--inverted-bg-color);
}
