.ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Image {
    display: initial;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &.hidden {
        display: none;
    }
}
